{% extends "recipe/recipes_home.html" %}
{% load static %}
{% load custom_filters %}

{% block main %}
<div class="row" style="margin-top: 156px">
    <div class="col-2"></div>
    <div class="col-10">
        <main>
            <section class="container" style="color: white;">
                <div class="row">
                    <div class="col-12 card-title-style" style="text-align: center; justify-content: center;">
                        <h1><b>{{object.title}}</b></h1>
                        <img src="{{object.pic.url}}" style="padding-bottom: 6px; width: 400px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4" style="text-align: left; justify-content: left; padding-bottom: 20px;">
                        <br>
                        <b>Provided By: </b>{{object.user}}
                        <br>
                        <b>Ingredients: </b>
                        {% for ingredient in object.recipe_ingredients.all %}
                        {{ ingredient.ingredient }} - {{ ingredient.amount }} {{ ingredient.amount_type }}
                        {% if not forloop.last %}| {% endif %}
                        {% endfor %}
                        <br>
                        <b>Directions: </b>{{object.directions}}
                        <br>
                        <b>Cooking Time: </b>{{object.cooking_time}} minutes
                        <br>
                        <b>Difficulty: </b>{{object.calculate_difficulty}}
                        <br>
                        <b>Star Count: </b>{{object.star_count}} stars
                        <br>
                        <b>Recipe Type: </b>{{object.recipe_type}}
                        <br>
                        <b>Adapted Link: </b>{{object.adapted_link}}
                        <br>
                        <b>Servings: </b>{{object.servings}}
                        <br>
                        <b>Yield Amount: </b>{{object.yield_amount}}
                        <br>
                        <b>Allergens: </b>{{object.allergens}}
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row">
                    {% if recipe_dataframe %}
                    <div class="table-responsive">
                        {% autoescape off %}
                        {{ recipe_dataframe | safe }}
                        {% endautoescape %}
                    </div>
                    <br>
                    <img src="data:image/png;base64, {{chart1|safe}}">
                    <br>
                    <img src="data:image/png;base64, {{chart2|safe}}">
                    <br>
                    <img src="data:image/png;base64, {{chart3|safe}}">
                    {% endif %}
                </div>
            </section>
        </main>
    </div>
</div>
</div>
{% endblock %}