{% extends "recipe/recipes_home.html" %}
<style>
</style>
{% block main %}
<div class="row" style="margin-top: 206px">
    <div class="col-2"></div>
    <div class="col-10" style="text-align: left; justify-content: left; padding-bottom: 20px;">
        <main style="padding-left: 50px; padding-right: 50px; padding-bottom:30px;">
            <section class="container" style="color: white;">

                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }} 
                    <button class="btn-primary" type="submit">Register</button>
                </form>
            </section>
        </main>
    </div>
</div>
{% endblock %}

{% block welcome_script %}
{% endblock %}